---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Imports partials
@import "normalize";
@import "fonts";
@import "variables-mixins";
@import "nav";
@import "typography";
@import "home";

// General Code
html, body{
  @include font-smoothing();
  font-feature-settings: "onum" on;
  @include caravel-regular();
  color:$black;
  position:relative;
  overflow-x: hidden;
}

.hidden-name {
  position:absolute;
  top:0;
  left:-9999px;
}

.divider{
  @include dotted-line();
  height:1px;
  opacity:.6;
}

section{
  padding:13.5rem 0 0 0;
  position:relative;
  
  .section-title-wrapper{
    margin-bottom:3rem;
  }

  .section-title{
    margin-bottom:1rem;
    color:$link-color;
  }

  .img-about{
    margin-top:7rem;
    max-width:100%;
  }
}

footer{
  
  .footer-wrapper{
    margin-top:8rem;
    @include caravel-regular();
    padding-bottom:3rem;
    text-align:right;
  }
  
  .footer-content{
    padding-top:1rem;
  }
  
}
