---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Imports partials
@import "normalize";
@import "fonts";
@import "variables-mixins";
@import "nav";
@import "typography";
@import "home";

// General Code
html, body{
  @include font-smoothing();
  font-feature-settings: "onum" on;
  @include caravel-regular();
  color:#000;
  position:relative;
}

section{
  padding:28rem 0rem;
  position:relative;
}

footer{
  @include caravel-regular();
  
  .footer-wrapper{
    height:1px;
    @include dotted-line();
    padding:1rem 0 4rem 0;
    text-align:right;
  }
  
}
