---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Imports partials
@import "normalize";
@import "fonts";
@import "variables-mixins";
@import "typography";
@import "nav";
@import "home";

// General Code
html, body{
  @include font-smoothing();
  font-feature-settings: "onum" on;
  @include caravel-regular();
  color:$black;
  position:relative;
  overflow-x: hidden;
  min-height:100%;
}

.hidden-name {
  position:absolute;
  top:0;
  left:-9999px;
}

a:link, a {
  color:$black;
  text-decoration: underline;
  transition: $transition-time;
  
  &:visited {
    opacity:1;
    color:$black!important;
  }
  
  &:hover,
  &:active {
    opacity:1;
    color:$link-color!important;
  }
  
}

ul{
  list-style: none;
  -webkit-padding-start: 0px;
}

.divider{
  @include dotted-line();
  height:1px;
  opacity:.6;
}

section{
  min-height:calc(100vh - 141px); //so footer (141px is always at the bottom of the page)
  padding:13rem 0 0 0;
  position:relative;
  
  .section-title-wrapper{
    margin-bottom:3rem;
  }

  .section-title{
    margin-bottom:1rem;
    color:$link-color;
  }

  .img-left{
    margin: 0 auto;
    margin-bottom:4rem;
    max-width:375px;
    
    img{
      max-width:100%;
    }
    
  }
  
  #map{
    height: 360px;
    max-width: 100%;
  }
  
  .item-title{
    @include begum-bold();
    text-transform: uppercase;
    font-size:14.5px;
    letter-spacing: 0.06rem;
  }
  
  .item-italic{
    @include begum-regular-italic();
  }
  
  .no-lining{
    font-feature-settings: "onum" off;
  }
  
}

footer{
  
  .footer-wrapper{
    margin-top:8rem;
    @include caravel-regular();
    padding-bottom:3rem;
    text-align:right;
  }
  
  .footer-content{
    padding-top:1rem;
  }
  
}

@media (max-width: 991px) {
  
  section{
    
    #map{
      margin-top:1rem;
      height:300px;
    }
    
  }
  
}

@media (max-width: 767px) {
  
  section{
    padding:12rem 0 0 0;
  }
  
}
