<nav>
  
  <h1 class="hidden-name">Main Navigation</h1>
  
  <div class="container">
    <div class="row">
            
      <div class="col-sm-5 col-md-4">
        <a href="{{ site.baseurl }}/" class="logo">
          <div class="logo-title">Michael Mrizek, M.D.</div>
          <div class="logo-subtitle">Psychiatrist & Psychotherapist</div>
        </a>
      </div>
      
      <div class="col-sm-7 col-md-6 col-md-offset-1">
        <ul class="menu">
          <div class="item-wrapper">
            <a href="{{ site.baseurl}}/practice/" class="{% if page.url == '/practice/' %}active{% endif %}"><li>Practice</li></a>
          </div>
          <div class="item-wrapper">
            <a href="{{ site.baseurl}}/about/" class="{% if page.url == '/about/' %}active{% endif %}"><li>About</li></a>
          </div>
          <div class="item-wrapper">
            <a href="{{ site.baseurl}}/credentials/" class="{% if page.url == '/credentials/' %}active{% endif %}"><li>Credentials</li></a>
          </div>
          <div class="item-wrapper">
            <a href="{{ site.baseurl}}/contact/" class="{% if page.url == '/contact/' %}active{% endif %}"><li>Contact</li></a>
          </div>
        </ul>
        <button type="button" class="btn btn-link navbar-toggle collapsed" data-toggle="modal" data-target="#menuModal"> ... </button>
      </div>
                      
    </div>
  </div>
  
  <!-- FULLSCREEN MODAL CODE (.fullscreen) -->
  <div class="modal fade fullscreen" id="menuModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="color:#fff;">
        <div class="modal-header" style="border:0;">
            <button type="button" class="close btn btn-link" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-lg" style="color:#999;"></i></button>
            <!-- <h4 class="modal-title text-center"><span class="sr-only">main navigation</span></h4> -->
        </div>
        <div class="modal-body text-center">
          <ul style="list-style-type:none;">
            <li><a href="#" class="big">Practice</a></li>
            <li><a href="#" class="big">About</a></li>
            <li><a href="#" class="big">Credentials</a></li>
            <li><a href="#" class="big">Contact</a></li>
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.fullscreen -->
  
</nav>
