<nav>
  
  <h1 class="hidden-name">Main Navigation</h1>
  
  <div class="container">
    <div class="row">
            
      <div class="col-sm-5 col-md-4">
        <div class="logo-wrapper">
          <a href="{{ site.baseurl }}/" class="logo">
            <div class="logo-title">Michael Mrizek, M.D.</div>
            <div class="logo-subtitle">Psychiatrist & Psychotherapist</div>
          </a>
          <button type="button" data-toggle="modal" data-target="#menuModal">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      
      <div class="col-sm-7 col-md-6 col-md-offset-1">
        <ul class="menu">
          <div class="item-wrapper">
            <a href="{{ site.baseurl}}/practice/" class="{% if page.url == '/practice/' %}active{% endif %} single-click-on-mobile"><li>Practice</li></a>
          </div>
          <div class="item-wrapper">
            <a href="{{ site.baseurl}}/about/" class="{% if page.url == '/about/' %}active{% endif %} single-click-on-mobile"><li>About</li></a>
          </div>
          <div class="item-wrapper">
            <a href="{{ site.baseurl}}/credentials/" class="{% if page.url == '/credentials/' %}active{% endif %} single-click-on-mobile"><li>Credentials</li></a>
          </div>
          <div class="item-wrapper">
            <a href="{{ site.baseurl}}/contact/" class="{% if page.url == '/contact/' %}active{% endif %} single-click-on-mobile"><li>Contact</li></a>
          </div>
        </ul>
      </div>
                      
    </div>
  </div>
  
  <!-- Fullscreen bootstrap mobile nav (.fullscreen) -->
  <div class="modal fullscreen" data-backdrop="false" tabindex="-1" id="menuModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body text-center">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl}}/practice/">Practice</a></li>
            <li><a href="{{ site.baseurl}}/about/">About</a></li>
            <li><a href="{{ site.baseurl}}/credentials/">Credentials</a></li>
            <li><a href="{{ site.baseurl}}/contact/">Contact</a></li>
          </ul>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.fullscreen -->
  
</nav>

<script>

// Removes double tap on links from iPad
$(document).ready(function() {
  $("a.single-click-on-mobile").on("click touchend", function(e) {
    var el = $(this);
    var link = el.attr("href");
    window.location = link;
  });
});

</script>
