<nav>
  
  <h1 class="hidden-name">Main Navigation</h1>
  
  <div class="container">
    <div class="row">
            
      <div class="col-sm-3 col-sm-offset-1">
        <a href="{{ site.baseurl }}/" class="logo">
          <div class="logo-title">Michael Mrizek, M.D.</div>
          <div class="logo-subtitle">Psychiatrist & Psychotherapist</div>
        </a>
      </div>
      
      <div class="col-sm-6 col-sm-offset-1">
        <ul class="menu">
          <div class="row">
            <div class="col-sm-3">
              <div class="item-wrapper">
                <a href="{{ site.baseurl}}/practice/" class="{% if page.url == '/practice/' %}active{% endif %}"><li>Practice</li></a>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="item-wrapper">
                <a href="{{ site.baseurl}}/about/" class="{% if page.url == '/about/' %}active{% endif %}"><li>About</li></a>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="item-wrapper">
                <a href="{{ site.baseurl}}/credentials/" class="{% if page.url == '/credentials/' %}active{% endif %}"><li>Credentials</li></a>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="item-wrapper">
                <a href="{{ site.baseurl}}/contact/" class="{% if page.url == '/contact/' %}active{% endif %}"><li>Contact</li></a>
              </div>
            </div>
          </div>
        </ul>
      </div>
                      
    </div>
    
    <!-- <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="nav-divider">
        </div>
      </div>
    </div> -->
    
  </div>
</nav>
