//Embed Fonts

// @font-face{
//   font-family:"Sommet Heavy Italic";
//   src: url('../fonts/sommet-heavy-italic.otf');
// }
//
// @font-face{
//   font-family:"Sommet Heavy";
//   src: url('../fonts/sommet-heavy.otf');
// }

//Font Mixins

@mixin meta-serif-book {
  font-family: "ff-meta-serif-web-pro",serif;
  font-style: normal;
  font-weight: 500;
}

@mixin mata-serif-book-italic {
  font-family: "ff-meta-serif-web-pro",serif;
  font-style: italic;
  font-weight: 500;
}

@mixin meta-serif-bold {
  font-family: "ff-meta-serif-web-pro",serif;
  font-style: normal;
  font-weight: 700;
}

@mixin meta-serif-bold-italic {
  font-family: "ff-meta-serif-web-pro",serif;
  font-style: italic;
  font-weight: 700;
}

@mixin meta-serif-sc{
  font-family: "ff-meta-serif-sc-web-pro",serif;
  font-style: normal;
  font-weight: 500;
}

@mixin futura-light{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin futura-light-italic{
  font-family: "futura-pt",sans-serif;
  font-style: italic;
  font-weight: 300;
}

@mixin futura-book{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin futura-book-italic{
  font-family: "futura-pt",sans-serif;
  font-style: italic;
  font-weight: 400;
}

@mixin futura-medium{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 500;
}

@mixin futura-medium-italic{
  font-family: "futura-pt",sans-serif;
  font-style: italic;
  font-weight: 500;
}

@mixin futura-demi{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin futura-heavy{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin futura-bold{
  font-family: "futura-pt-bold",sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin futura-extrabold{
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 800;
}
