//Navigation variables
$nav-height:75px;

//Navigation
nav{
  // border:1px solid red;
  z-index:900;
  display: flex;
  align-items: flex-end;
  background: #fff;
  position:fixed;
  width:100%;
  
  a{
    &:hover{
      text-decoration: none;
      opacity:1;
    }
  }
  
  a.logo{
    // border:1px solid green;
    height:$nav-height;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    line-height: 1;
    color:$black;
    
    h3{
      font-size:24px;
      @include begum-bold();
      margin:0 0 0.7rem 0;
    }
    
    h4{
      margin:0;
      @include caravel-regular();
      font-size: 17px;
      letter-spacing: 0.04rem;
    }
    
  }

  .menu{
    list-style: none;
    font-size: 15px;
    @include begum-semibold();
    // border:1px solid blue;
    -webkit-padding-start: 0px;
    margin-bottom:0;
    letter-spacing: 0.05rem;
    line-height: 1;
    
    .item-wrapper{
      height:$nav-height;
      display: flex;
      align-items:flex-end;
    }

    a li{
      color:$black;
      line-height: 1;
      position: relative;
      text-decoration: none;
      
      &:hover:after{
        content:'';
        position: absolute;
        background:$link-color;
        width:6px;
        height:6px;
        border-radius:50%;
        top:-11px;
        left:calc(50% - 3px);
      }
      
    }
      
    .active{
      position: relative;
    }
    
    .active:after{
      content:'';
      position: absolute;
      background:$link-color;
      width:6px;
      height:6px;
      border-radius:50%;
      top:-11px;
      left:calc(50% - 3px);
    }
    
  }
  
  .nav-divider{
    height:1px;
    @include dotted-line();
    margin-top:2rem;
  }

}
