//Navigation

nav{
  position:relative;
  display: flex;
  justify-content: flex-end;
}

.nav-content{
  position:fixed;
}

ul{
  list-style: none;
  @include gitan-semibold();
  text-transform: uppercase;
  font-size: 13px;
  text-align:right;
  
  li{
    margin:1rem 0;
  }
}
