//Navigation variables
$nav-height:75px;

//Navigation
nav{
  // border:1px solid red;
  z-index:900;
  display: flex;
  align-items: flex-end;
  background: #fff;
  position:fixed;
  width:100%;
  
  .logo{
    // border:1px solid green;
    height:$nav-height;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    line-height: 1;
    
    h3{
      font-size:23px;
      @include begum-bold();
      margin:0 0 0.7rem 0;
    }
    
    h4{
      margin:0;
      @include caravel-regular();
      font-size: 16.5px;
      letter-spacing: 0.03rem;
    }
    
  }

  .menu{
    list-style: none;
    font-size: 15px;
    @include begum-semibold();
    // border:1px solid blue;
    -webkit-padding-start: 0px;
    margin-bottom:0;
    letter-spacing: 0.05rem;
    line-height: 1;
    
    .item-wrapper{
      height:$nav-height;
      display: flex;
      align-items:flex-end;
    }

    a li{
      color:#333;
      line-height: 1;
      transition:0.2s;
      position: relative;
      text-decoration: none;
    
      &:hover{
        // @include caravel-semibold();
        text-decoration: none;
        transition-duration: $transition-time;
      }
      
    }
    
    .active{
      position: relative;
    }
    
    .active:after{
      content:'';
      position: absolute;
      background:$link-color;
      width:6px;
      height:6px;
      border-radius:50%;
      top:-12px;
      left:calc(50% - 3px);
    }
    
  }
  
  .nav-divider{
    height:1px;
    @include dotted-line();
    margin-top:2rem;
  }

}
