//Default values for typography

h3{
  @include begum-bold();
  margin:0;
  font-size:23px;
}

h4{
  @include begum-bold();
  text-transform: uppercase;
  font-size:15px;
  letter-spacing: 0.1rem;
  margin-bottom:5px;
}

p{
  @include caravel-regular();
  font-size:17.5px;
  line-height: 1.5;
  margin-bottom:2.8rem;
}

ul{
  margin-bottom:2.8rem;
  font-size:17.5px;
  line-height: 1.5;
  @include caravel-regular();
  
  li{
  }
  
  li:first-of-type{
    margin-top:1.8rem;
  }
  
}

#practice{

  ul{
    list-style:square;

    
    li{
      margin-left:50px;
    }
    
  }

}

#credentials{

  ul{
    margin-bottom:4rem;
    
    li{
      font-size:17px;
      line-height: 1.3;
      @include caravel-regular();
      margin-top:1.4rem;
    }
    
  }

}
